@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StudentPortal.Models.Entities.Subject>
<h1>Subjects</h1>
<div>
    <div>
        <a asp-controller="Subjects" asp-action="Add" class="btn btn-primary">Add Subject</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Subject Code</th>
            <th>Description</th>
            <th>Units</th>
            <th>Offering</th>
            <th>Category</th>
            <th>Course Code</th>
            <th>Curriculum Year</th>
            <th>Pre-requisite</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.SubjectCode</td>
                <td>@subject.Description</td>
                <td>@subject.Units</td>
                <td>@subject.Offering</td>
                <td>@subject.Category</td>
                <td>@subject.CourseCode</td>
                <td>@subject.CurriculumYear</td>
                <td>@subject.PreRequisiteCode</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Subjects" asp-action="Edit" asp-route-id="@subject.SubjectCode">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


